.Pokedex{
    text-align: center;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Pokedex-Winner{
    color: green;
}

.Pokedex-Loser{
    color: red;
}